
.spinonediv-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}

.spinonediv-1:before, .spinonediv-1:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-animation: spinner-1--before 0.5s linear infinite;
  animation: spinner-1--before 0.5s linear infinite;
}

.spinonediv-1:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.spinonediv-1:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-animation-name: spinner-1--after;
  animation-name: spinner-1--after;
}

@keyframes spinner-1--before {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes spinner-1--after {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
