
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Lato, Roboto, 'Helvetica Neue', sans-serif;
  background: var(--background-color);
}

* {
  box-sizing: border-box;
}

a {
  color: #006eb3;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
