---
import MainLayout from '~/layouts/MainLayout.astro';
import ProductDetails from '~/components/ProductDetails/ProductDetails';
import ImageCarousel from '~/components/ImageCarousel/ImageCarousel';
import api from '~/lib/api';

const { id } = Astro.params;
let product = await api.getProduct(id);
---
<MainLayout head={{ title: product?.name }}>
  <main class="container">
    <ProductDetails client:load product={product}>
      <ImageCarousel slot="carousel" client:only="solid" images={product?.images || []} showThumbnails />
    </ProductDetails>
  </main>
</MainLayout>
