---
import MainHead from '../components/MainHead.astro';
---
<html lang="en">
  <head>
    <MainHead
      title="Jeanine White: Personal Site"
      description="Jeanine White: Developer, Speaker, and Writer..."
    />
  </head>
  <body>
    <main class="wrapper mt4 mb4">
    </main>
  </body>
</html>
