---
import MainLayout from '~/layouts/MainLayout.astro';

---
<MainLayout head={{title: "Astro Shop"}}>
  <main class="wrapper mt4 mb4">
    HI
    <img src="https://picsum.photos/1024/768" alt="" />
  </main>
</MainLayout>
