---
import MainLayout from '~/layouts/MainLayout.astro';
// import { Img } from "astro-imagetools/components";

---
<MainLayout head={{title: "Astro Shop"}}>
  <main class="wrapper mt4 mb4">
    HI
    <!-- <Img src="https://picsum.photos/1024/768" alt="" /> -->
  </main>
</MainLayout>
