header {
  height: 70px;
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 0 rgba(46, 51, 60, 0.05), 0 25px 35px 2px rgba(46, 51, 60, 0.05);
    @for $i from 10 through 25 {
      &.header-p-#{$i} .menu-item-wrapper > a {
        padding: #{$i}px 14px;
      }
    }
  }
  .header-inner {
    display: flex;
    max-width: var(--container-width);
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    flex-shrink: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .logo a {
    font-family: Poppins, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 20px;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  .menu-item-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    > a {
      padding: 25px 14px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        transition: all 150ms ease-in-out;
        background-color: var(--secondary-color);
        opacity: 0;
        transform: translateY(-10px);
      }
    }
    
    &:hover > a::before, 
    > a.menu-item-active::before {
      opacity: 1;
      transform: translateY(0px);
    }
    &:hover .menu-item-subitems {
      opacity: 1;
      pointer-events: auto;
    }
    &.is-deep .menu-subitem {
      max-width: 280px;
    }
  }
  .menu-item-subitems {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 150ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    
    &-inner {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: var(--container-width);
      margin: 0 auto;
      padding: 20px;
      padding-bottom: 40px;
      flex-wrap: wrap;
    }
    .menu-subitem {
      width: 100%;
      margin-top: 8px;
      a {
        padding: 4px;
        color: #706e6e;
        font-weight: 400;
        &:hover {
          color: var(--primary-color) !important;
        }
      }
      &.is-bold > a {
        color: #000;
        font-weight: 700;
      }
      &-items {
        margin-top: 8px;
        > div {
          margin-bottom: 6px;
        }
      }
    }
  }
  
}
